
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>Ya Postulaste! </h1>
        <h2><%= link_to "Volver al Foro", forum_path(@forum) %></h2>

      </div>
    </div>
  </div>
</div>
