#navbar{
  background-color: black;
  color: white;
  min-height: 80px;
}
#home{
  color: white;
  margin-top: 20px;
}
#general-menu{
  color: Gainsboro;
  margin-top: 20px;
  font-weight: bold;
}
#llamita {
  height: 50px;
}
#no-picture-user{
  margin-top: 20px;
}
